@font-face {
  font-family: Delicious; 
  src: url('Delicious-Roman.otf');
} 
@font-face {
  font-family: Delicious; 
  font-weight: bold; 
  src: url('Delicious-Bold.otf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 4em;
}

.center-pane {
  width: max-content;
  margin: auto;
}